$background-blue: #002347;
$text-orange: #FF8E00;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 16px;
    background-color: $background-blue
}

.weatherAppHeader {
    background-color: $background-blue;
    color: $text-orange;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $text-orange;
    .weatherAppTitle {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .weatherAppText {
        font-size: 1rem;
        font-style: italic;
    }
}

.weatherDisplayContainer {
    height: auto;
    width: 100%;
    background-color: $background-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-orange;
    padding: 30px 0 30px 0;
}

.currentWeatherCard {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 300px;
    height: 400px;
    border: 3px solid $text-orange;
    padding: 25px 0 25px 0;
    align-items: center;
    .locationContainer {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid $text-orange;
        margin-top: 5px;
    }
    .conditionsContainer {
        padding: 5px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    img {
        height: 175px;
        width: 175px;
    }
}

footer {
    background-color: $text-orange;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background-blue;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    a {
        text-decoration: none;
        color: inherit;
    }
    i {
        margin-left: 10px;
        font-size: 1.2rem;
    }
    .fa-spin-hover:hover {
        animation: fa-spin 0.4s ease-in-out;
    }
}

.searchSelection {
    padding: 10px;
    color: $text-orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $text-orange;
    i {
        color: $text-orange;
    }

    input {
        background-color: $background-blue;
        color: $text-orange;
        border: 1px solid $text-orange;
        width: 200px;
    }

    input:focus {
        outline: none !important;
        border: 3px solid $text-orange;
    }
    ::placeholder {
        color: $text-orange;
        font-weight: bold;
    }

    form {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    button {
        background-color: $background-blue;
        margin-left: 5px;
        border: 1px solid $text-orange;
    }

    .inputContainer {
        width: 100%;
    }
}

.optionsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $text-orange;
    padding: 10px 0 10px 0;
    button {
        background-color: $text-orange;
        color: $background-blue;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;
        margin: 5px;
    }
}

.control-next.control-arrow:before  {
    border-left: 8px solid $text-orange !important;
    opacity: 1 !important;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid $text-orange !important;
    opacity: 1 !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1 !important;
}

.carousel .control-dots .dot {
    background-color: $text-orange !important;
}
