$background-blue: #002347;
$text-orange: #FF8E00;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: $background-blue
}

.weatherAppHeader {
    background-color: $background-blue;
    color: $text-orange;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid $text-orange;
    border-top: 3px solid $text-orange;
    .weatherAppTitle {
        font-size: 1rem;
        font-weight: bold;
    }
    .weatherAppText {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.weatherDisplayContainer {
    height: 500px;
    width: 100%;
    background-color: $background-blue;
}
